fastapi
uvicorn[standard]
sqlmodel
pydantic
pyjwt
python-dotenv
psycopg-binary
python-multipart
sqlalchemy
python-jose
psycopg2-binary
passlib[bcrypt]
bcrypt
openai
cohere
mcp
apscheduler==3.10.4
python-dateutil==2.8.2




